@import "tailwindcss";
@plugin "daisyui";
@import 'prosemirror-view/style/prosemirror.css';

/* Font optimization */
@font-face {
  font-family: 'Inter';
  font-weight: 400 700;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hiA.woff2') format('woff2');
}

.gradient-bg {
  background: radial-gradient(circle,
      rgba(224, 202, 211, 0.1) 18%,
      rgba(204, 198, 217, 0.1) 42%,
      rgba(148, 187, 233, 0.1) 87%);
  color: #000;
}

.tiptap-editor :is(ul, ol) {
  list-style-type: revert !important;
  margin-left: 1.5rem;
  padding-left: 1rem;
}

.tiptap-editor h1 {
  font-size: 2.25rem;
  /* Tailwind's text-4xl */
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.tiptap-editor h2 {
  font-size: 1.875rem;
  /* text-3xl */
  font-weight: 600;
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
}

.tiptap-editor h3 {
  font-size: 1.5rem;
  /* text-2xl */
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}